RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z]+)\/?$ index.php?ctrl=$1
RewriteRule ^([a-zA-Z]+)\/([a-zA-Z]+)\/?$ index.php?ctrl=$1&act=$2
RewriteRule ^([a-zA-Z]+)\/([a-zA-Z]+)\/([1-9][0-9]*)\/?$ index.php?ctrl=$1&act=$2&id=$3 [QSA]
#RewriteRule ^(.*)$ views/error/404.php
